$blue-light: rgba(84,176,195,1);
$blue-dark:  rgba(40,98,162,1);
$blue-alt: rgba(0,19,29,.8);

body {
    background-color: #f6f6f6;
}

.date-picker[readonly] {
    background-color: #ffffff;
}

.navbar {
    background: linear-gradient(90deg, $blue-light 30%, $blue-dark 60%);
    height: 82px;

    .navbar-brand {
        max-width: 75%;
        .logo {
            width: 100%;
        }
    }
}

.navbar-light {
    .navbar-nav {
        .nav-link {
            color: #ffffff;
            &:hover, &:focus {
                color: rgba(0,19,29,.8);
            }
        }

        .show {
            .nav-link {
                color: rgba(0,19,29,.8);
            }
        }
    }
}

.btn-primary {
    background-color: $blue-dark;
    border-color: $blue-dark;
}

.techland-form {
    .card {
        .card-header {
            background-color: $blue-alt;
            color: #ffffff;
        }

        label {
            font-weight: bold;
            color: $blue-alt;
        }

        .form-control {
            color: $blue-alt;
        }
    }
}

.techland-list {
    .card-header {
        background-color: $blue-alt;
        color: #ffffff;
    }

    .table {
        color: $blue-alt;
    }

    .page-link {
        color: $blue-alt;
        border-color: #dee2e6;
    }
    .page-item.active {
        .page-link {
            background-color: $blue-alt;
            border-color: #dee2e6;
        }
    }
}

.techland-payment-login {
    .card {
        border: none;

        .card-body {
            background-color: $blue-alt;
            padding: 2rem 3rem;
            border-radius: 5px;
            color: #ffffff;

            .form-control {
                height: 45px;
                border-radius: 5px;
            }
        }
    }
}

.techland-menu {
    .menu-header {
        display: flex;
        background-color: $blue-alt;
        border-radius: 0.25rem 0.25rem 0 0;
        position: relative;

        .menu-item {
            min-width: 180px;
            text-align: center;
            cursor: pointer;
            border-right: solid 1px #fff;
            &.logo {
                img {
                    max-height: 37px;
                }
                a {
                    padding: .3rem;
                }
            }
            &:hover {
                //background-color: rgba(0,19,29,.4);
            }
            &.active {
                background-color: #4b8f9f;
            }

            a {
                display: block;
                padding: 0.75rem .5rem;
                color: #ffffff;

                &:hover,
                &:focus {
                    text-decoration: none;
                }
            }
        }

        .menu-drop {
            display: none !important;
            position: absolute;
            background-color: #4b8f9f;
            z-index: 10;
            left: 0;
            width: 100%;

            &.visible {
                display: flex !important;
            }

            .menu-item {
                border: none;
            }
        }


        .button-mobile {
            display: none;
        }
        @media (max-width: 768px) {
            .button-mobile {
                display: block;
                position: absolute;
                top: .5rem;
                right: .8rem;
                width: 40px;
                font-size: 20px;
                background-color: #33424a;
                color: #ffffff;
                border-color: #fff;
                border-radius: .25rem;
            }
            .menu-mobile {
                display: none;
                &.show-mobile {
                    display: block;
                }
            }
        }
    }

    .card {
        border-radius: 0 0 0.25rem 0.25rem ;
    }
    #menu-header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 10;
        background-color: rgb(51 66 74);
        border-radius: 0;
    }
    @media (max-width: 768px) {


        #menu-item {
            flex-wrap: wrap;

            .menu-item {
                width: 100%;
                min-width: auto;
                text-align: left;

                &.active {
                    background-color: transparent;
                }

                a {
                    padding: 0.75rem 1rem;
                }
            }

            .menu-drop {
                position: static;

                &.visible {
                    flex-wrap: wrap;
                }
            }
        }
    }
}

.main-auth {
    margin-top: 5rem;
    @media (max-width: 768px) {
        margin-top: 4rem;
    }
}
